<section class="about" id="about-us">
  <div class="container about-box">
    <div class="about-description">
      <div class="about-title-box">
        <h2 class="about-title">Про нас</h2>
        <div class="line-about"></div>
      </div>
      <p class="about-text">
        Він варить каву, вона готує смачний сніданок... Так виглядають наші
        щасливі будні зараз. Ми познайомилися на початку 2023 року в рідному
        Житомирі. Жоден із нас навіть не уявляв, що за кілька місяців наші життя
        зміняться назавжди. Вона жила і багато працювала в Києві, він навчався і
        працював у Житомирі. Здавалося, наші шанси були невеликі.
      </p>
      <p class="about-text">
        Після місяця онлайн-спілкування ми вперше зустрілися в Києві. Хвилювання
        та ніяковість швидко змінилися цікавістю і теплом. Ми сміялися, каталися
        на ковзанах і насолоджувалися кавою. Ця зустріч запалила іскру, яка
        переросла у вогонь кохання, що гріє наші серця. Після цього ми вже не
        хотіли розлучатися ні на мить, і він переїхав до Києва.
      </p>
      <p class="about-text">
        П'ять місяців потому він був упевнений, що вона — саме та, з ким він
        хоче будувати щасливе майбутнє і виховувати доньку, схожу на неї. Наше
        кохання, мов стрімкий потяг, прибуло на станцію «Заручини». Тепер ми з
        нетерпінням чекаємо на перше велике свято нашої сім’ї — наше весілля! Ми
        будемо надзвичайно раді розділити цей день із вами, нашими найдорожчими
        рідними та друзями!
      </p>
    </div>

    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/mobile-1x-335/about_us.jpg 1x,
          ./images/mobile-1x-335/about_us.jpg 2x
        "
        type="image/jpg"
      />
      <img src="./images/mobile-1x-335/about_us.jpg" alt="About Us image" />
    </picture>
  </div>
</section>
