<footer class="foot">
  <div class="container">
    <div class="nav-list-foot">
      <ul class="foot-list-box">
        <li><a href="#hero" class="nav-link-foot">Головна</a></li>
        <li>
          <a href="#about-us" class="nav-link-foot">Про нас</a>
        </li>
      </ul>
      <ul class="foot-list-box">
        <li><a href="#our-collection" class="nav-link-foot">Галерея</a></li>
        <li>
          <a href="#your-order" class="nav-link-foot">Місце проведення</a>
        </li>
      </ul>
    </div>
    <p class="copyright">
      &copy; 2024 Teteryuk Bohdan Oleksandrovych. All rights reserved.
    </p>
    <p>
      Designed by
      <a href="https://www.instagram.com/bigbaldsparrow" target="_blank"
        >Bohdan Teteryuk</a
      >
    </p>
  </div>
</footer>
