<header class="head">
  <div class="container header-container">
    <nav class="page-nav"></nav>
    <div class="mobile-tel-container">
      <div class="mobile-social">
        <img src="../images/B&D_2.png" width="80px" height="50px" alt="" />
        <button
          type="button"
          class="solid-menu-btn"
          id="data-modal-mobile"
          data-modal-mobile-open
        >
          <svg class="solid-menu" width="44" height="30">
            <use href="./images/svg-images.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- Mobile menu -->
<!--mobile-menu is-open-->
<div class="mobile-menu is-open-mob" id="data-modal-mobile" data-modal-mobile>
  <div class="mobile-menu-tel-close">
    <button
      type="button"
      class="close-menu-btn"
      id="data-modal-mobile-close"
      data-modal-mobile-close
    >
      <svg class="close-menu" width="36" height="36">
        <use href="./images/svg-images.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <ul class="nav-list-mobile">
    <li>
      <a href="#hero" class="nav-link-mobile" nav-link-mobile-close>
        Головна
      </a>
    </li>
    <li>
      <a href="#about-us" class="nav-link-mobile" nav-link-mobile-close-1>
        Про нас
      </a>
    </li>
    <li>
      <a href="#our-collection" class="nav-link-mobile" nav-link-mobile-close-2>
        Галерея
      </a>
    </li>
    <li>
      <a href="#your-order" class="nav-link-mobile" nav-link-mobile-close-3
        >Місце проведення</a
      >
    </li>
    <li>
      <a href="#testimonials" class="nav-link-mobile" nav-link-mobile-close-4
        >Програма весілля</a
      >
    </li>
  </ul>
  <div class="mobile-tel-links">
    <a class="tel-link-mobile" href="tel:+380952131170">+380 (95) 213-11-70</a>
    <a class="tel-link-mobile" href="tel:+380680188025">+380 (68) 018-80-25</a>
  </div>
</div>
