<section class="collect" id="our-collection">
  <div class="container collect-box">
    <h2 class="collect-title">Галерея</h2>
    <div class="slider-container" id="slider">
      <a class="control-next">&#10095;</a>
      <a class="control-prev">&#10094;</a>
      <ul class="collect-list">
        <li class="collect-item">1</li>
        <li class="collect-item" style="background: #aaa">2</li>
        <li class="collect-item">3</li>
        <li class="collect-item" style="background: #aaa">4</li>
        <li class="collect-item">5</li>
        <li class="collect-item" style="background: #aaa">6</li>
      </ul>
    </div>
  </div>
  <!-- <div class="collect-bg"></div> -->
</section>
