<section class="collect" id="our-collection">
  <div class="container collect-box">
    <h2 class="collect-title">Галерея</h2>
    <div class="slider-container" id="slider">
      <a class="control-next">&#10095;</a>
      <a class="control-prev">&#10094;</a>
      <ul class="collect-list">
        <li class="collect-item">
          <div class="image"></div>
        </li>
        <li class="collect-item" style="background: #aaa">
          <div class="image"></div>
        </li>
        <li class="collect-item">
          <div class="image"></div>
        </li>
        <li class="collect-item" style="background: #aaa">
          <div class="image"></div>
        </li>
        <li class="collect-item"><div class="image"></div></li>
        <li class="collect-item" style="background: #aaa">
          <div class="image"></div>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="collect-bg"></div> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="./js/slider-2.js"></script>
</section>
