<section class="box" id="your-order">
  <div class="container order">
    <div class="right">
      <div class="title-box">
        <h1 class="your_order_test">Як дістатись до події</h1>
        <div class="line-about"></div>
      </div>
    </div>

    <div style="width: 100%; height: 500px">
      <iframe
        width="100%"
        height="100%"
        frameborder="0"
        style="border: 0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCi4dNRS1SCcDp40cvzhOx-Wrnnae_Ji1c=8QC3+7C,Veresy,Zhytomyrska+oblast,Ukraine"
        allowfullscreen
      >
      </iframe>
    </div>
    <picture>
      <source
        media="(max-width: 768px)"
        type="image/jpg"
        srcset="./images/tablet-2x-704/your_order-1-tab-2-2x.jpg"
      />
      <img
        class="img"
        src="./images/tablet-1x-704/your_order-1-tab-1.jpg"
        alt="foto"
      />
    </picture>
  </div>
</section>
