<section class="box" id="your-order">
  <div class="container order">
    <div class="right">
      <div class="title-box">
        <h1 class="your_order_test">Як дістатись до події</h1>
        <div class="line-about"></div>
      </div>
    </div>
    <div class="adress-box">
      <p class="order-text">Готель-ресторан "Стара Губернія"</p>
      <p class="order-text">м. Житомир, об&#39;їздна траса Київ - Чоп, поворот на с. Вереси</p>
      <div class="button-box">
        <a
        class="button-map"
        href="https://www.google.com.ua/maps/place/Hotel%CA%B9-Restoran+Huberniya/@50.3196629,28.7531006,17z/data=!4m6!3m5!1s0x472c7b1bb7978d57:0xaf66d43dc6419e0f!8m2!3d50.3207178!4d28.7535499!16s%2Fg%2F11vf3dtyb0?entry=ttu"
        >Показати на карті</a>
      </div>
      <div class="map" id="map"></div>
      <div class="timeline">
        <div class="timeline-item">
          <p class="timeline-time">12:30</p>
          <p class="timeline-content">Трансфер до ресторану</p>
        </div>
        <div class="timeline-item">
          <p class="timeline-time">13:00</p>
          <p class="timeline-content">Зустріч в ресторані</p>
        </div>
        <div class="timeline-item">
          <p class="timeline-time">14:00</p>
          <p class="timeline-content">Церемонія</p>
        </div>
        <div class="timeline-item">
          <p class="timeline-time">15:00</p>
          <p class="timeline-content">Бенкет</p>
        </div>
        <div class="timeline-item">
          <p class="timeline-time">22:00</p>
          <p class="timeline-content">Трансфер до міста</p>
        </div>
      </div>
      <div class="button-box">
        <a
        class="button-map second-map"
        href="https://t.me/+OvXxZxAdRqxiMjIy"
        >Залишити привітання</a>
      </div>
      <p class="order-text">Пі.Сі. Квіти завʼянуть, а пляшка гарного напою - ні.</p>
    </div>
  </div>
  <script type="module" src="./map.ts"></script>
  </body>
</section>
