.about-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.about-title {
  color: #6d927a;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  word-spacing: 3px;
}
.about-title-box {
      width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
            padding-top: 25px;
}

.line-about {
    background-color: #6d927a;
    width: 90px;
    height: 2px;
    /* margin-right: 20px; */
    margin-bottom: 33px;
}

.about-text {
    color: #6d927a;
font-size: 25px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.04em;
margin-bottom: 20px;
word-spacing: 3px;
}

.about-box picture img{
  box-shadow: 2px 4px 19px 2px rgba(0, 0, 0, 0.75);
}

