/* ================ MOBILE HERO ================ */

.hero {
    padding-top: 60px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.hero-img-box-1 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.hero-txt {
  color: #6d927a;
  padding-left: auto;
  padding-top: 10px;
  padding-right: auto;
  text-align: center;
}

.img {
}

.head-first-box {
  background-color: #f5f5dc;
  height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head-second-box {
  background-color: #15512a;
  height: 477px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g-one {
  color:#6d927a;
}

.g-two {
  color: #6d927a;
}

.hero-title {
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.23;
    letter-spacing: -0.03em;
    text-align: center;

    padding-top: 20px;
}

.hero-title-accent-color {
    color: #ECD979;
}

.order-btn {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FCF9F9;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    margin-bottom: 40px;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    padding: 14px 39px;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    background-color: #1c222573;
}

.order-btn-icon {
    line-height: 0;
    height: 100%;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    border-color: #ECD979;
    border-radius: 0;
    background-color: rgba(252, 249, 249, 0.1);
    box-shadow: 0 0.5em 0.5em -0.4em #ECD979;
    /* transform: translateY(-0.25em); */
}

.order-btn:hover .order-btn-icon,
.order-btn:focus .order-btn-icon {
    transform: rotate(30deg);
}


.handmate-mark {
    display: none;
}

.ukraine-map-ellipse {
    display: none;
}

@media (max-width: 374px) {
    .hero-main-text-wrapper {
        text-align: center;
    }
}

@media (min-width: 375px) {

    .hero-title {
        width: 335px;
    }

    .order-btn {
        margin-left: 70px;
    }
}

/* ================ /MOBILE HERO ================ */
.calendar {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.829);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.month {
  background-color: #6d927a;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  padding: 10px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgba(255, 255, 255, 0.829);
}

.day {
  color: #15512a;
  text-align: center;
  padding: 10px;
  /* border: 1px solid #ddd; */
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.empty {
  /* background-color: rgba(255, 255, 255, 0.829); */
}

.highlighted {
  background-color: #6d927a;
  color: rgba(255, 255, 255, 0.829);
  border-radius: 50%;
}
