body {
    font-family: 'Manrope', sans-serif;
    background: #15512a;
    color: #FCF9F9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.collect-img {
  width: 100px;
}

.collect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #29643d;
    background-image: url(../images/mobile-1x-335/bg.png);
    background-repeat: no-repeat;
    background-position: -36px -1px;
    background-size: 423px 501px;
    box-shadow: inset 2px 4px 19px 2px rgba(0, 0, 0, 0.75);
}

.container.collect-box {
  width: 100%;
  padding: 0 0 0 0;
  height: 440px;
}

/* .collect-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 335px;
}

.collect-item {
  width: 375px;
  min-width: 100%;
  box-sizing: border-box;
} */

.collect {
    padding-top: 18px;
    /* height: 430px; */
      padding-bottom: 20px;
}

.collect-description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 18px;
    white-space: nowrap;
    text-align: left;
}

.collect-price {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-top: 8px;
    height: auto;
    width: 70px;
}

.collect-title-box {
    width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
}

.line {
  background-color: #fcf9f99c;
  width: 90px;
  height: 2px;
  margin-right: 20px;
  margin-bottom: 7px;
}

.collect-title {
    /* margin-bottom: 40px; */
    color: #fcf9f99c;
    font-size: 32px;
    font-weight: 500;
    line-height: 1,3;
    letter-spacing: -0.03em;
    white-space: nowrap;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 20px;
    word-spacing: 3px;
}

/* ================================================================ */

.slider-container {
  padding-bottom: 20px;
  /* transition: all 1s linear; */
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  /* border-radius: 4px; */
  /* transition: all 500ms linear; */
}

#slider .collect-list {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
  /* transition: all 250ms linear; */
  /* transition: all 1s linear; */
}

#slider .collect-list .collect-item {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 375px;
  height: 296px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
  /* transition: all 250ms linear; */
}

a.control-prev, a.control-next {
  position: absolute;
  top: 40%;
  z-index: 4;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control-prev:hover, a.control-next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control-prev {
  border-radius: 0 2px 2px 0;
}

a.control-next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* ===================================== Background Collect======================================= */
.image {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_1.jpg);
  background-repeat: no-repeat;
  background-position: -33px 0px;
  background-size: contain;
  height: 296px;
  width: 462px;
}

/* ====================================== Adaptive Mode======================================= */
@media screen and (min-width: 320px) and (max-width: 374px) {

    .collect {
        background-position: -95px 263px;
        background-size: 154px 152px;
    }

    .collect-item {
        max-width: 375px;
        height: auto;
        width: 100%;
    }

    .collect-list {
        max-width: 375px;
        height: auto;
        width: 100%;
    }
}

/* ================ slider-v.2 ================== */
.slider {
  margin: 0 auto;
  max-width: 375px;
  box-shadow: 2px 4px 19px 2px rgba(0, 0, 0, 0.75);
  /* border: 5px solid #6d927a; */
}

.slide_viewer {
  height: 320px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_1.jpg);
  background-repeat: no-repeat;
  background-position: -59px -4px;
  background-size: contain;
  height: 375px;
  width: 488px;
}

.slide:nth-of-type(2) {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_2.jpg);
  background-repeat: no-repeat;
  background-position: -43px -5px;
  background-size: contain;
  height: 375px;
  width: 488px;
}

.slide:nth-of-type(3) {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_3.jpg);
  background-repeat: no-repeat;
  background-position: -43px -198px;
  background-size: contain;
  height: 748px;
  width: 488px;
}

.slide:nth-of-type(4) {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_4.jpg);
  background-repeat: no-repeat;
  background-position: -1px -149px;
  background-size: contain;
  height: 625px;
  width: 488px;
}
.slide:nth-of-type(5) {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_5.jpg);
  background-repeat: no-repeat;
  background-position: -79px -5px;
  background-size: contain;
  height: 375px;
  width: 488px;
}
.slide:nth-of-type(6) {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_6.jpg);
    background-repeat: no-repeat;
      background-position: -82px 0px;
      background-size: contain;
      height: 609px;
      width: 479px;
}

.slide:nth-of-type(7) {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_7.jpg);
  background-repeat: no-repeat;
  background-position: -47px -188px;
  background-size: contain;
  height: 609px;
  width: 479px;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  border-radius: 50%;
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /* text-shadow: 2px 7px 23px 4px rgba(0, 0, 0, 0.75); */
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.75);
}

.slide_btn.active {
  color: #6d927a;
  cursor: pointer;
}

.directional_nav {
  height: 355px;
  margin: 0 auto;
  max-width: 364px;
  position: relative;
  top: -340px;
}

.previous_btn {
  fill: #FCF9F9;
  bottom: 0;
  left: 0px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  fill: #FCF9F9;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 0px;
  top: 0;
}

.previous_btn,
.next_btn {
  /* background-color: #15512a9a; */
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 40px;
}

.previous_btn:hover,
.next_btn:hover {
  opacity: 1;
}

/* ================ 1280px ================== */

/* ================ 1440px ================== */

