body {
    font-family: 'Manrope', sans-serif;
    background: #15512a;
    color: #FCF9F9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.collect-img {
  width: 100px;
}

.collect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #29643d;
    background-image: url(../images/icon-yellow.png);
    background-repeat: no-repeat;
    background-position: -95px 313px;
    background-size: 154px 152px;
}

.container.collect-box {
  width: 100%;
  padding: 0 0 0 0;
}

/* .collect-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 335px;
}

.collect-item {
  width: 375px;
  min-width: 100%;
  box-sizing: border-box;
} */

.collect {
    padding-top: 18px;
    /* height: 430px; */
      padding-bottom: 20px;
}

.collect-description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 18px;
    white-space: nowrap;
    text-align: left;
}

.collect-price {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-top: 8px;
    height: auto;
    width: 70px;
}

.collect-title-box {
    width: auto;
}

.collect-title {
    /* margin-bottom: 40px; */
    font-size: 32px;
    font-weight: 500;
    line-height: 1,3;
    letter-spacing: -0.03em;
    white-space: nowrap;
    text-align: left;
    text-transform: capitalize;
}

/* ================================================================ */

.slider-container {
  padding-bottom: 20px;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  /* border-radius: 4px; */
}

#slider .collect-list {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider .collect-list .collect-item {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 375px;
  height: 296px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control-prev, a.control-next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control-prev:hover, a.control-next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control-prev {
  border-radius: 0 2px 2px 0;
}

a.control-next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* ===================================== Background Collect======================================= */
.image {
  display: block;
  background-image: url(/images/mobile-1x-335/gallery_1.jpg);
  background-repeat: no-repeat;
  background-position: -33px 0px;
  background-size: contain;
  height: 296px;
  width: 462px;
}

/* ====================================== Adaptive Mode======================================= */
@media screen and (min-width: 320px) and (max-width: 374px) {

    .collect {
        background-position: -95px 263px;
        background-size: 154px 152px;
    }

    .collect-item {
        max-width: 375px;
        height: auto;
        width: 100%;
    }

    .collect-list {
        max-width: 375px;
        height: auto;
        width: 100%;
    }
}

/* ================ 768px ================== */

/* ================ 1280px ================== */

/* ================ 1440px ================== */

