/* ======== MOBILE========= */

#map {
  height: 300px;
  width: 350px;
  box-shadow: 0px 2px 30px -3px rgba(0, 0, 0, 0.75);
}

.button-map {
  /* display: flex; */
  font-size: 20px;
  border: none;
  color: #6d927a;
  background-color: #abd3b99a;
  border: 1px solid #6d927a;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  box-shadow: 0px 2px 14px -3px rgba(0, 0, 0, 0.75);
}

.button-box {
  padding-top: 25px;
  padding-bottom: 15px;
}

.adress-box {
  display: flex;
      flex-direction: column;
        align-items: center;
}
.adress-box .order-text {
  text-align: center;
}

.your_order_test {
    color: #6d927a;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.96px;
    padding-bottom: 40px;
    padding-top: 18px;
    word-spacing: 3px;

}

.order-text {
  color: #6d927a;
  font-size: 25px;
  padding-bottom: 20px;
  word-spacing: 3px;
}

.title-box{
      width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
}

.title-box .line-about {
  margin-bottom: 20px;
}

.img{
    display: none;
}

.order{
    padding-top: 50px;
    padding-bottom: 50px;
}

.text{
    color: rgba(252, 249, 249, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    display: flex;
    width:100%;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 8px;
    background-color: transparent;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

}

.box{
    padding-bottom: 40px;
}
@media screen and (min-width: 375px) {
    .container {
      width: 375px;
      margin: 0 auto;
    }
  }
/* ======== list========= */
            .timeline {
              display: flex;
                flex-direction: column;
                position: relative;
                padding-left: 0px;
                margin: 20px 0;
                /* border: 2px solid #6d927a; */
                border-radius: 8px;
            }

            .timeline::before {
              content: '';
                position: absolute;
                left: 76px;
                top: 0;
                bottom: 0;
                width: 2px;
                background: #6d927a;
            }

            .timeline-item {
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              position: relative;
            }

            .timeline-item:last-child {
              margin-bottom: 0;
            }

            .timeline-time {
              color: #6d927a;
              width: 60px;
              text-align: right;
              margin-right: 20px;
              /* font-weight: bold; */
              font-size: 26px;
            }

            .timeline-content {
              color: #6d927a;
              padding: 10px 20px;
              border-radius: 4px;
              position: relative;
              flex: 1;
              font-size: 26px;
            }

            .timeline-content::before {
                content: '';
                  position: absolute;
                  left: -8px;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 10px;
                  height: 10px;
                  background: #6d927a;
                  border: 3px solid #ffffe9;
                  border-radius: 50%;
                  box-shadow: 0 0 0 2px #6d927a;
            }
